/* Header and Footer */
header,
footer {
  background-color: $primary-color;
  color: $primary-deep-color;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header {
  grid-area: header;
  justify-content: space-between;

  a {
    color: $white-color;
  }
}

footer {
  grid-area: footer;
  justify-content: center;
}
