/* product details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;

  img {
    max-height: 100vh;
    max-width: 45rem;
    margin: 0 auto;
  }

  .product-details-description {
    flex: 1 1;
    margin: 1rem;

    p {
      margin-bottom: 1.5rem;
    }
  }

  .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div,
    button {
      text-align: center;
      flex: 1;
    }

    div {
      font-size: 2rem;
    }
  }
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
  padding: 0 0.6rem 0 0.6rem;
}
